target/
test-output
test-output/
reports
reports/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.settings/
.classpath
.project
!/.gitignore
target/**
*.jar
*.war
*.ear
*.class
.metadata
.loadpath
.DS_Store

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar